.body-color{
    background-color: rgb(244, 248, 252);
}
.form-bg-color{
    background-color: rgb(186, 230, 243);
}
.card-bg-color{
    background-color: rgb(228, 226, 245);
}
.header-bg-color{
    background-color: rgb(228, 226, 245);
}