.body-color{
    background-color: rgb(244, 248, 252);
}
.form-bg-color{
    background-color: rgb(219, 235, 240);
}
.card-bg-color{
    background-color: rgb(218, 231, 219);
}
.header-bg-color{
    background-color: rgb(218, 231, 219);
}